@import "src/styles/helpers";

.box {
  @include flex-column();
}

.label_box {
  width: 100%;
  @include flex-row(center, space-between);
  margin-bottom: rem(8);
}

.label {
  @include font-size(14);
  color: $dark-gray;
}

@keyframes inAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes outAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.error {
  color: $red;

  &_show {
    animation: inAnimation 250ms ease-in
  }

  &_hide {
    animation: outAnimation 270ms ease-out;
    animation-fill-mode: forwards;
  }
}

.input_box {
  width: 100%;
  position: relative;

  img {
    position: absolute;
    top: rem(15);
    left: rem(14);
  }
}

.input {
  width: 100%;
  padding: rem(4) rem(14);
  text-align: right;
  background: $very-light-gray;
  color: $dark;
  border: rem(2) solid transparent;
  outline-color: $primary;
  border-radius: rem(4);
  cursor: pointer;
  @include font-size(24);
  @include transition();

  &_error {
    border: 2px solid $red;
    outline: none;
  }

  &_icon {
    padding: rem(4) rem(14) rem(4) rem(32);
  }

  &:hover:not(.input_error) {
    border: rem(2) solid $primary;
  }
}

input[type="number"].input {
  -moz-appearance: textfield;
}

input[type="number"].input::-webkit-outer-spin-button, input[type="number"].input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}