$primary:#20A291;
$primary-light:#9FE8DF;
$dark:#00494D;
$dark-gray:#5E7A7D;
$gray:#7F9C9F;
$light-gray:#C5E4E7;
$very-light-gray:#F4FAFA;
$white:#FFFFFF;
$red:#CD5134;

$mobile: 375px;
$tablet: 745px;