@import "reset";
@import "helpers";
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

body {
  background: $light-gray;
}