@import "src/styles/helpers";

.main {
  height: 100vh;
  @include flex-column(center, center);
  padding: rem(0) rem(10);
}

@include tablet() {
  .main {
    height: auto;
    @include flex-column(center);
    padding: rem(60) rem(0) rem(0);
  }
}